/* CSS BY Jeremy Scott */
/* Imported fonts */
/* css reset */ 
/* root variables */ 
/* global styles (mobile first/small) */

/* ---------------- IMPORTED FONTS ------------------ */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');

/* ---------------------------- CSS RESET --------------------------------- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ---------------------------- Root Variables ------------------------ */

:root {
	--Teal: #4CA7C0;
	--Purple: #484FB7;
	--Lavender: #6B8FE7;
	--Yellow: #E9BB57;
	--Pink: #D9526F;
	--Dark-Gray: #1E1E1E; 
	--White: #ffffff; 

    --font-heading: 'Kavoon';
	--font-body: 'Inter', sans-serif;
}


/* ---------------------------- Global Styles ------------------------ */

body {
	max-width: 450px;
	margin: 0 auto;
	font-family: var(--font-body);
	background-color: var(--Lavender);
	color: var(--Dark-Gray);
}

h1, h2 {
	font-family: var(--font-heading);
}

/* ---------------------- Typography -------------------------------- */

h1 {
	font-size: 3em;
	margin-bottom: 0.5rem;
}

nav h2 {
	font-size: 1.5em;
}

h2 {
	font-size: 2em;
	color: var(--White);
}

h3 {
	font-size: 1.5em;
	color: var(--Yellow);
	font-weight: bold;
}

h4 {
	font-size: 1.15em;
}

/* links */ 

a:link {
	color: var(--White);
}

a:visited {
	color: var(--Purple);
}

a:hover {
	color: var(--Teal);
}

a:active {
	color: var(--Purple);
}


/* --------------------- Layout --------------------------------- */

/* ------  header ------- */
header {
	background-color: var(--Purple);
	color: var(--White);
	text-align: center;
	padding: none;
}

header h2 {
	color: var(--Dark-Gray);
	font-family: var(--font-body);
	font-weight: bold;
	font-style: oblique;
	text-align: center;
	padding: 0.5rem;
}

header p {
	margin-bottom: 2rem;
	font-style: oblique;
}

header nav {
	background-color: var(--Yellow);
	text-align: center;
	margin-top: 1rem;
}

header nav ul {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	padding: 0rem 1rem 1rem;
}

header nav ul li a {
	display: block;
	background-color: var(--White);
	color: var(--Purple);
	text-decoration: none;
	font-weight: bold;
	padding: 1rem;
	border-radius: 1px;
}



/* ------ Main ---------- */
main section{
	background-color: var(--Purple);
	border-radius: 1px;
	padding: 1rem;
	text-align: left;
}
	/* nested sections inside main section */
main section section section {
	background-color: var(--White);
	padding: 1rem;
	margin: 1rem 0;
	border-radius: 12px;
}

main section img {
	margin-bottom: 1rem;
} 

h4 {
	color: var(--Purple);
	font-weight: bold;
	margin-bottom: 0.25rem;
}

